<center> <h1> Aircraft Data Response Extraction and Dataframe Compilation </h1> </center>
<p style="margin-bottom:1cm;"></p>
<center><h4>Constructor Academy 2024</h4></center>
<p style="margin-bottom:1cm;"></p>

<div style="background:#EEEDF5;border-top:0.1cm solid #EF475B;border-bottom:0.1cm solid #EF475B;">
    <div style="margin-left: 0.5cm;margin-top: 0.5cm;margin-bottom: 0.5cm;color:#303030">
        <p><strong>Goal:</strong> Extract data from aircraft response API and match it to Squawk7700 data to build a unified dataframe</p>
        <strong> Outline:</strong>
        <a id='P0' name="P0"></a>
        <ol>
            <li> <a style="color:#303030" href='#I'>Introduction </a> </li>
            <li> <a style="color:#303030" href='#SU'>Set up</a></li>
            <li> <a style="color:#303030" href='#P1'>Part 1</a></li>
            <li> <a style="color:#303030" href='#P2'>Part 2</a></li>
            <li> <a style="color:#303030" href='#P3'>Part 3</a></li>
            <li> <a style="color:#303030" href='#CL'>Conclusion</a></li>
        </ol>
        <strong>Keywords:</strong> data cleaning, data compiling
    </div>
</div>
</nav>

<a id='I' name="I"></a>
## [Introduction](#P0)

Here you could write an introduction to the topics. Everything that is written here will appear in the live coding template notebook

<a id='SU' name="SU"></a>
## [Set up](#P0)

### Packages

In [2]:
# General
import pandas as pd
import numpy as np
import json

# Visualization
import seaborn as sns
import matplotlib.pyplot as plt

### Custom classes and functions

In [3]:
# NA

### Global Parameters Setting

In [4]:
# plt.style.use("seaborn")

### User-Dependent Variables

In [5]:
# NA

<a id='P1'></a>
## [Extract Meaningful Data from JSON Response File](#P0)

Extract aircraft response data and visualize one entry to decide what information is useful

In [15]:
with open('../data/raw/holy_grail_registration_responses.json', 'r') as reg_file:
    ac_response_data_reg = json.load(reg_file)

with open('../data/raw/holy_grail_icao24_responses.json', 'r') as icao_file:
    ac_response_data_icao = json.load(icao_file)

In [17]:
pretty_ac_json_reg = json.dumps(ac_response_data_reg[0], indent=4, sort_keys=True)
print(pretty_ac_json_reg)

{
    "active": false,
    "ageYears": 13.2,
    "airlineName": "Aerolineas Argentinas",
    "deliveryDate": "2011-09-21",
    "engineType": "Jet",
    "firstFlightDate": "2011-09-06",
    "hexIcao": "E06442",
    "iataCodeShort": "738",
    "icaoCode": "B738",
    "id": 14924,
    "isFreighter": false,
    "model": "B738",
    "modelCode": "737-86J",
    "numEngines": 2,
    "numRegistrations": 3,
    "numSeats": 170,
    "productionLine": "Boeing 737 NG",
    "reg": "LV-FQB",
    "registrationDate": "2013-12-20",
    "registrations": [
        {
            "active": true,
            "airlineName": "Avelo Airlines",
            "hexIcao": "AB1A1E",
            "reg": "N814VL",
            "registrationDate": "2024-08-27"
        },
        {
            "active": false,
            "airlineName": "Aerolineas Argentinas",
            "hexIcao": "E06442",
            "reg": "LV-FQB",
            "registrationDate": "2013-12-20"
        },
        {
            "active": false,
            "airlineName": "Air Berlin",
            "reg": "D-ABKY",
            "registrationDate": "2011-09-21"
        }
    ],
    "rolloutDate": "2011-09-06",
    "serial": "36886",
    "typeName": "Boeing 737-800",
    "verified": true
}

In [18]:
pretty_ac_json_icao = json.dumps(ac_response_data_icao[0], indent=4, sort_keys=True)
print(pretty_ac_json_icao)

{
    "active": true,
    "airlineName": "Unknown/Private owner",
    "hexIcao": "A447D5",
    "id": 171160,
    "isFreighter": false,
    "numRegistrations": 1,
    "reg": "KAP65",
    "registrations": [
        {
            "active": true,
            "airlineName": "Unknown/Private owner",
            "hexIcao": "A447D5",
            "reg": "KAP65"
        }
    ],
    "typeName": "C402",
    "verified": false
}

Define and extract useful information into a dataframe such that each row represents an aircraft

In [23]:
df_ac_response_raw = pd.DataFrame(ac_response_data_reg)
df_ac_response_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802 entries, 0 to 801
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                802 non-null    int64
 1   reg               802 non-null    object
 2   active            802 non-null    bool
 3   serial            771 non-null    object
 4   hexIcao           772 non-null    object
 5   airlineName       802 non-null    object
 6   iataCodeShort     759 non-null    object
 7   icaoCode          722 non-null    object
 8   model             761 non-null    object
 9   modelCode         771 non-null    object
 10  numSeats          590 non-null    float64
 11  rolloutDate       680 non-null    object
 12  firstFlightDate   634 non-null    object
 13  deliveryDate      695 non-null    object
 14  registrationDate  764 non-null    object
 15  typeName          802 non-null    object
 16  numEngines        759 non-null    float64
 17  engineType        759 non-null    object
 18  isFreighter       802 non-null    bool
 19  productionLine    759 non-null    object
 20  ageYears          750 non-null    float64
 21  verified          802 non-null    bool
 22  numRegistrations  802 non-null    int64
 23  registrations     802 non-null    object
dtypes: bool(3), float64(3), int64(2), object(16)
memory usage: 134.1+ KB

In [29]:
df_ac_response_raw.rename(columns={"reg" : "registration"}, inplace=True)
df_ac_response_raw.head()

,id,registration,active,serial,hexIcao,airlineName,iataCodeShort,icaoCode,model,modelCode,...,registrationDate,typeName,numEngines,engineType,isFreighter,productionLine,ageYears,verified,numRegistrations,registrations
0,14924,LV-FQB,False,36886,E06442,Aerolineas Argentinas,738,B738,B738,737-86J,...,2013-12-20,Boeing 737-800,2.0,Jet,False,Boeing 737 NG,13.2,True,3,"[{'reg': 'N814VL', 'active': True, 'hexIcao': ..."
1,7594,N183DN,False,27110,A14C29,Delta Air Lines,76W,B763,B763,767-332ER,...,1993-04-29,Boeing 767-300,2.0,Jet,False,Boeing 767,31.6,True,1,"[{'reg': 'N183DN', 'active': False, 'hexIcao':..."
2,15404,N768JB,True,3760,AA600A,JetBlue Airways,320,A320,A320,320-232,...,2009-01-29,Airbus A320,2.0,Jet,False,Airbus A320,15.9,True,1,"[{'reg': 'N768JB', 'active': True, 'hexIcao': ..."
3,27365,N818NW,True,857,AB2855,Delta Air Lines,330,A330,A333,330-323X,...,2009-12-06,Airbus A330,2.0,Jet,False,Airbus A330,17.4,True,2,"[{'reg': 'N818NW', 'active': True, 'hexIcao': ..."
4,22702,HB-JMF,True,561,4B1901,Edelweiss Air,340,A340,A343,340-313X,...,2017-03-14,Airbus A340,4.0,Jet,False,Airbus A340,21.1,True,2,"[{'reg': 'HB-JMF', 'active': True, 'hexIcao': ..."

### Drop Useless Columns

### Merge with Squawk Dataframe and Save to Processed

In [40]:
df_squawk7700_raw = pd.read_csv('../data/raw/squawk7700_metadata.csv')
df_squawk7700_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   flight_id       832 non-null    object
 1   callsign        832 non-null    object
 2   number          760 non-null    object
 3   icao24          832 non-null    object
 4   registration    832 non-null    object
 5   typecode        832 non-null    object
 6   origin          779 non-null    object
 7   landing         606 non-null    object
 8   destination     773 non-null    object
 9   diverted        295 non-null    object
 10  tweet_problem   419 non-null    object
 11  tweet_result    419 non-null    object
 12  tweet_fueldump  419 non-null    object
 13  avh_id          90 non-null     object
 14  avh_problem     90 non-null     object
 15  avh_result      90 non-null     object
 16  avh_fueldump    90 non-null     object
dtypes: object(17)
memory usage: 110.6+ KB

In [41]:
df_squawk7700_raw.head()

,flight_id,callsign,number,icao24,registration,typecode,origin,landing,destination,diverted,tweet_problem,tweet_result,tweet_fueldump,avh_id,avh_problem,avh_result,avh_fueldump
0,ARG1511_20180101,ARG1511,AR1511,e06442,LV-FQB,B738,SACO,SABE,SABE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DAL14_20180101,DAL14,DL14,a14c29,N183DN,B763,KATL,NaN,EDDF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JBU263_20180108,JBU263,B6263,aa600a,N768JB,A320,KJFK,NaN,KSEA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DAL65_20180108,DAL65,DL65,ab2855,N818NW,A333,KATL,KLAX,KLAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EDW24_20180111,EDW24,WK24,4b1901,HB-JMF,A343,LSZH,LSZH,MMUN,LSZH,engine,return,unknown,4b382175,engine,return,unknown

In [51]:
df_squawk7700_processed = pd.merge(df_squawk7700_raw, df_ac_response_raw, on='registration', how='inner')
df_squawk7700_processed.head()

,flight_id,callsign,number,icao24,registration,typecode,origin,landing,destination,diverted,...,registrationDate,typeName,numEngines,engineType,isFreighter,productionLine,ageYears,verified,numRegistrations,registrations
0,ARG1511_20180101,ARG1511,AR1511,e06442,LV-FQB,B738,SACO,SABE,SABE,NaN,...,2013-12-20,Boeing 737-800,2.0,Jet,False,Boeing 737 NG,13.2,True,3,"[{'reg': 'N814VL', 'active': True, 'hexIcao': ..."
1,DAL14_20180101,DAL14,DL14,a14c29,N183DN,B763,KATL,NaN,EDDF,NaN,...,1993-04-29,Boeing 767-300,2.0,Jet,False,Boeing 767,31.6,True,1,"[{'reg': 'N183DN', 'active': False, 'hexIcao':..."
2,JBU263_20180108,JBU263,B6263,aa600a,N768JB,A320,KJFK,NaN,KSEA,NaN,...,2009-01-29,Airbus A320,2.0,Jet,False,Airbus A320,15.9,True,1,"[{'reg': 'N768JB', 'active': True, 'hexIcao': ..."
3,DAL65_20180108,DAL65,DL65,ab2855,N818NW,A333,KATL,KLAX,KLAX,NaN,...,2009-12-06,Airbus A330,2.0,Jet,False,Airbus A330,17.4,True,2,"[{'reg': 'N818NW', 'active': True, 'hexIcao': ..."
4,EDW24_20180111,EDW24,WK24,4b1901,HB-JMF,A343,LSZH,LSZH,MMUN,LSZH,...,2017-03-14,Airbus A340,4.0,Jet,False,Airbus A340,21.1,True,2,"[{'reg': 'HB-JMF', 'active': True, 'hexIcao': ..."

In [53]:
print(len(df_ac_response_raw),
      len(df_squawk7700_raw),
      len(df_squawk7700_processed)
      )

802 832 868

In [55]:
df_squawk7700_processed.to_csv('../data/processed/squawk7700_processed.csv', index=False)

<a id='P2' name="P2"></a>
## [Part 2 title here](#P0)

<a id='P3' name="P3"></a>
## [Part 3 title here](#P0)

<a id='CL'></a>
## [Conclusion](#P0)

This is a pre-written conclusion in which we have nice figures.

<div style="border-top:0.1cm solid #EF475B"></div>
    <strong><a href='#Q0'><div style="text-align: right"> <h3>End of this Notebook.</h3></div></a></strong>

<div style="background:#EEEDF5;color:#303030"><div style="margin-left: .2cm">
    <b>Comments:</b>
</div></div>

<div style="margin-left: 0.4cm">
    This Markdown cell is a template to write extended comments. e.g. explain the approach taken, or concepts behind algorithm chosen. Aim at having 2 lines at least. Anything smaller can be directly integrated in the code, or gathered together with other comments to form a bigger paragraph. Since this block is within a div element, you need to use html formatting syntax, not markdown
</div>
<div style="background:#EEEDF5;border:0.1cm solid #FDB100;color:#303030">
    <div style="margin: 0.2cm 0.2cm 0.2cm 0.2cm">
        <b style="color:#FDB100">Title:</b> 
        This is a an example yellow box
    </div>
</div>
<div style="background:#EEEDF5;border:0.1cm solid #00BAE5;color:#303030">
    <div style="margin: 0.2cm 0.2cm 0.2cm 0.2cm">
        <b style="color:#00BAE5">Note:</b>
        This is an example Blue Box
    </div>
</div>
<div style="background:#EEEDF5;border:0.1cm solid #EF475B;color:#303030">
    <div style="margin: 0.2cm 0.2cm 0.2cm 0.2cm">
        <b style="color:#EF475B">Warning:</b> 
        This is an example red box
    </div>
</div>